<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <h1>Books</h1>
    <a href="/books/new">New Book</a>
    <% if (books.length > 0) { %>
    <ul>
      <% books.forEach(book => { %>
      <li>
        <a href="/books/<%= book._id %>"><%= book.name %></a>
        by <%= book.author.name %>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No books found.</p>
    <% } %>
    <br />
    <a href="/">Go back to Home Menu</a>
  </body>
</html>
