<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Recenze</h1>
    </header>
    <main>
      <p>Welcome to the independent book reviews page.</p>
      <p>
        We are a group of students dedicated to the reservation of <br />
        information about books, authors, reviews and sales data. <br />
        It is 100% free and uncensored. Below are links to the <br />
        following pages:
      </p>
      <br />
    </main>
    <footer>
      <a href="/authors">Authors' CRUD page</a><br />
      <a href="/books">Books' CRUD page</a><br />
      <a href="/reviews">Reviews' CRUD page</a><br />
      <a href="/sales">Sales' CRUD page</a><br />
      <a href="/authors/stats">Authors' Stats Table</a><br />
      <a href="/books/top-rated">View Top 10 Rated Books</a><br />
      <a href="/books/top-selling">View Top 50 Selling Books</a><br />
      <a href="/books/search">Search Books</a><br />
    </footer>
  </body>
</html>
