<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Recenze</h1>
    </header>
    <main>
      <p>Welcome to the independent book reviews page.</p>
      <p>
        We are a group of students dedicated to the reservation of <br />
        information about books, authors, reviews and sales data. <br />
        It is 100% free and uncensored. Below are links to the <br />
        following pages:
      </p>
    </main>
    <footer>
      <ul>
        <li><a href="/authors">Authors' CRUD page</a></li>
        <li><a href="/books">Books' CRUD page</a></li>
        <li><a href="/reviews">Reviews' CRUD page</a></li>
        <li><a href="/sales">Sales' CRUD page</a></li>
        <li><a href="/authors/stats">Authors' Stats Table</a></li>
        <li><a href="/books/top-rated">View Top 10 Rated Books</a></li>
        <li><a href="/books/top-selling">View Top 50 Selling Books</a></li>
        <li><a href="/books/search">Search Books</a></li>
        <li>
          <a href="/upload-image"
            >Upload an Author's Profile Image or a Book's Cover Image</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
